@using DarkFactorCoreNet.Models
@model PageContentModel

@{
    var acl = new Dictionary<int, string>();
    acl[0] = "Public";
    acl[1] = "Member";
    acl[2] = "Editor";
    acl[3] = "Admin";    
}

<form  method='POST' style='display: inline;'>

    <input type='hidden' name='ID' value='@Model.ID'>
    <input type='hidden' name='ParentId' value='@Model.ParentId'>
    <input type='hidden' name='SortId' value='@Model.SortId'>
    <input type='hidden' name='command' value='save'>

    <div class='edit_header'>Access Control</div>
    <select name='acl' class='edit_input'>
        @foreach (var aclKv in acl)
        {
            if ( aclKv.Key == Model.Acl )
            {
                <option value=@aclKv.Key selected> @aclKv.Value </option>
            }   
            else
            {
                <option value=@aclKv.Key> @aclKv.Value </option>
            }
        }
    </select>

    <br><br>

    <div class='edit_header'>Image</div>
    <input name='Image' type='text' class='edit_input' value='@Model.Image' placeholder=''><br>

    <div class='edit_header'>Promo Title</div>
    <input name='PromoTitle' type='text' class='edit_input' value='@Model.PromoTitle' placeholder='Enter title'><br>

    <div class='edit_header'>Promo Text</div>
    <textarea rows=15 cols=30 name='PromoText' class='edit_input'>@Model.PromoText</textarea><br>
    <br>

    <div class='edit_header'>Title</div>
    <input name='ContentTitle' type='text' class='edit_input' value='@Model.ContentTitle' placeholder='Enter title'><br>

    <div class='edit_header'>Content</div>
    <textarea rows=30 cols=60 name='ContentText' class='edit_input'>@Model.ContentText</textarea><br>


    <div class='edit_header'>Tags</div>
    @foreach (var tag in Model.Tags)
    {
        <span> @tag.name [<a href="">X</a>]</span>
    }
    <input name='NewTag' type='text' class='edit_input' value=''>

    <input class=toolbutton type='submit' value='Save'>
    <input class=toolbutton type='submit' value='Preview'>

</form>
