@page
@using DarkFactorCoreNet.Models
@model Page
@{
    ViewData["Title"] = Model.pageModel.ContentTitle;
}

<div>
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("Views/TopElements/TopNavigation.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div>
                <div id="content_feature_@Model.PageId" class="article_featured">
                    <div>
                        <H2>@Model.pageModel.ContentTitle</H2>
                    </div>
                    <BR>
                    <div>
                        <i>@Model.pageModel.PromoText </i>
                    </div>
                    <BR>
                    <div>
                        @* Show Image if we have data *@    
                        @if ( Model.pageModel.ImageId != 0 )
                        {
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <center><a href="/page?id=@Model.PageId"><img class="article_image" src="/api/Image/GetImage?imageId=@Model.pageModel.ImageId"></a></center>
                            </div>        
                        }
                    </div>
                    <BR>
                    <div>
                        @Model.pageModel.ContentText
                    </div>
                </div>

                @if ( Model.articleSections != null )
                {
                    @foreach (var articleSection in Model.articleSections)
                    {
                        <div>
                            &nbsp;
                        </div>
                        <div id="content_box_section_@(articleSection.ID)_layout_@articleSection.Layout" class="article_section">
                            <BR>
                            @if (articleSection.Layout == 0)
                            {
                                <div id="0 full" style="width:100%">@articleSection.Text</div>
                            }
                            else if (articleSection.Layout == 1 && articleSection.ImageId != 0)
                            {
                                <div id="1 full" style="width:100%"><center><img class="article_image" alt="@articleSection.ImageId" src="/api/Image/GetImage?imageId=@articleSection.ImageId"></center></div>
                            }
                            else if (articleSection.Layout == 2 && articleSection.ImageId != 0)
                            {
                                <div id="2_left" style="width:50%;margin-right:20px">@articleSection.Text</div>
                                <div id="2_right" style="width:50%;margin-left:10px"><center><img class="article_image" alt="@articleSection.ImageId" src="/api/Image/GetImage?imageId=@articleSection.ImageId"></center></div>
                            }
                            else if (articleSection.Layout == 3 && articleSection.ImageId != 0)
                            {
                                <div id="3_left" style="width:50%;margin-right:10px"><center><img class="article_image" alt="@articleSection.ImageId" src="/api/Image/GetImage?imageId=@articleSection.ImageId"></center></div>
                                <div id="3_right" style="width:50%;margin-left:20px">@articleSection.Text</div>
                            }
                            else
                            {
                                <center>Unknown layout</center>
                            }
                            <BR>
                        </div>

                        <div>
                            &nbsp;
                        </div>
                    }
                }
            </div>
        </div>

        <div class="col-lg-4 col-md-4" >
            @await Html.PartialAsync("Views/RightSideElements/ArticleSection.cshtml", Model.relatedPages)
        </div>

    </div>


</div>

