@page
@model EditModel
@{
    ViewData["Title"] = Model.pageModel.ContentTitle;
}

@{
    var acl = new Dictionary<int, string>();
    acl[0] = "Public";
    acl[1] = "Member";
    acl[2] = "Unpublished";

    var layout = new Dictionary<int, string>();
    layout[0] = "Text Only";
    layout[1] = "Image Only";
    layout[2] = "Text Left, Image Right";
    layout[3] = "Image Left, Text Right";
}

<div>

    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("/Pages/Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="article" style="column;padding:10px">
            <form  method='POST' style='display: inline;'>
                <input class=toolbutton type='submit' value='Save Article'>

                <input type='hidden' name='ID' value='@Model.pageModel.ID'>
                <input type='hidden' name='ParentId' value='@Model.pageModel.ParentId'>
                <input type='hidden' name='SortId' value='@Model.pageModel.SortId'>
                <input type='hidden' name='command' value='save'>

                <div class='edit_header'>Title</div>
                <input name='ContentTitle' type='text' class='edit_input' style='padding:2px' value='@Model.pageModel.ContentTitle' placeholder='Enter title'><br>

                <div class='edit_header'>Promo Text</div>
                <textarea rows=5 name='PromoText' class='edit_input'>@Model.pageModel.PromoText</textarea><br>

                <div class='edit_header'>Content</div>
                <textarea rows=15 name='ContentText' class='edit_input'>@Model.pageModel.ContentText</textarea><br>

                <div class='edit_header'>Tags</div>
                @foreach (var tag in Model.pageModel.Tags)
                {
                    <span> @tag.name [<a href="">X</a>]</span>
                }
                <input name='NewTag' type='text' class='edit_input' value=''><br>
                <br>

            </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="article">
                <form  method='POST' action="/api/Edit/ChangeAccess" style='display: inline;'>
                    <input type='hidden' name='pageId' value='@Model.pageModel.ID'>
                    <div class='edit_header'>Access Control</div>
                    <select name='acl' class='edit_input' style="width:75%" align="center">
                        @foreach (var aclKv in acl)
                        {
                            if ( aclKv.Key == Model.pageModel.Acl )
                            {
                                <option value=@aclKv.Key selected> @aclKv.Value </option>
                            }   
                            else
                            {
                                <option value=@aclKv.Key> @aclKv.Value </option>
                            }
                        }
                    </select>
                    <input type='submit' value='Update'>
                </form>
                <BR>
                @await Html.PartialAsync("/Pages/Views/Components/ImageComponent.cshtml", Model.pageModel)
            </div>
        </div>

        <div class="col-md-4">
            @await Html.PartialAsync("/Pages/Views/RightSideElements/EditMenu.cshtml", Model.menuItems)
            @await Html.PartialAsync("/Pages/Views/RightSideElements/AdminMenu.cshtml", Model.pageId)
        </div>

        @foreach (var articleSection in Model.articleSections)
        {
            <div class="col-md-8">
                <BR>
                <div style="width=100%;padding:2px;background-color:lightgray" >

                    <form  method='POST' action="/api/Edit/DeleteSection" style='display: inline;verticle-align:right'>
                        <input type='hidden' name='pageId' value='@articleSection.PageId'>
                        <input type='hidden' name='sectionId' value='@articleSection.ID'>
                        <input type='submit' value='X'>
                    </form>
                    <form method='POST' action="/api/Edit/ChangeSectionLayout" style='display: inline'>
                        <input type='hidden' name='pageId' value='@articleSection.PageId'>
                        <input type='hidden' name='articleId' value='@articleSection.ID'>
                        <select name='layout' class='edit_input' style="width:50%" align="center">
                        @foreach (var layoutKv in layout)
                        {
                            if ( layoutKv.Key == articleSection.Layout )
                            {
                                <option value=@layoutKv.Key selected> @layoutKv.Value </option>
                            }   
                            else
                            {
                                <option value=@layoutKv.Key> @layoutKv.Value </option>
                            }
                        }
                        </select>
                        <input type='submit' value='Change'>
                    </form>
                </div>
            </div>

            <div class="col-md-8">
                <div>
                    @if (articleSection.Layout == 0)
                    {
                        @await Html.PartialAsync("/Pages/Views/Components/EditSectionText.cshtml", articleSection)
                    }
                    else if (articleSection.Layout == 1 )
                    {
                        @await Html.PartialAsync("/Pages/Views/Components/EditSectionImage.cshtml", articleSection )
                    }
                    else if (articleSection.Layout == 2 )
                    {
                        @await Html.PartialAsync("/Pages/Views/Components/EditSectionText.cshtml", articleSection)
                        @await Html.PartialAsync("/Pages/Views/Components/EditSectionImage.cshtml", articleSection )
                    }
                    else if (articleSection.Layout == 3 )
                    {
                        @await Html.PartialAsync("/Pages/Views/Components/EditSectionImage.cshtml", articleSection )
                        @await Html.PartialAsync("/Pages/Views/Components/EditSectionText.cshtml", articleSection)
                    }
                    else
                    {
                        <center>Unknown layout</center>
                    }
                </div>
            </div>
        }

        <div>
            &nbsp;
        </div>

        <div class="col-md-8">
            <form method='POST' asp-page-handler="CreateArticleSection" style='display: inline;'>
                <input type='hidden' name='PageId' value='@Model.pageModel.ID'>
                <input class=toolbutton type='submit' value='+ Add Section'>
            </form>
        </div>

    </div>
</div>

<script type="javascript">

    function getModel()
    {
        // Service call with bootstrap
    }

</script>