@page
@model EditMainPage
@{
    ViewData["Title"] = Model.pageModel.ContentTitle;
}

@{
    var acl = new Dictionary<int, string>();
    acl[0] = "Public";
    acl[1] = "Member";
    acl[2] = "Unpublished";

    var layout = new Dictionary<int, string>();
    layout[0] = "Text Only";
    layout[1] = "Image Only";
    layout[2] = "Text Left, Image Right";
    layout[3] = "Image Left, Text Right";
}

<div>
    <div class="row" id="menu">
        <div class="col-md-12">
            @await Html.PartialAsync("/Pages/Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>
    <div class="row" id="navigation">
        <div class="col-md-12">
            @await Html.PartialAsync("/Pages/Views/TopElements/TopNavigation.cshtml", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="article" style="column;padding:10px">
                <div class='edit_header'>Title</div>
                <input id='Title' name='Title' type='text' class='edit_input' style='padding:2px' value='@Model.pageModel.ContentTitle' placeholder='Enter title'><br>

                <div class='edit_header'>Related Tags</div>
                <input id='RelatedTags' name='RelatedTags' type='text' class='edit_input' value='@Model.pageModel.RelatedTags'><br>
                <br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="article" style="column;padding:10px">
                    <div class='edit_header'>Access Control</div>
                    <select id='acl' name='acl' class='edit_input' style="width:75%" align="center">
                        @foreach (var aclKv in acl)
                        {
                            if ( aclKv.Key == Model.pageModel.Acl )
                            {
                                <option value=@aclKv.Key selected> @aclKv.Value </option>
                            }   
                            else
                            {
                                <option value=@aclKv.Key> @aclKv.Value </option>
                            }
                        }
                    </select>
                    <input type='submit' value='Update'>
                <BR>
                @*await Html.PartialAsync("/Pages/Views/Components/ImageComponent.cshtml", Model.pageModel)*@
            </div>
        </div>

        <div class="col-md-4">
            <center><input class=toolbutton type='submit' value='Save Page' onClick="clickSavePage(@Model.PageId)" ></center><BR>
            <center><input class=toolbutton type='submit' value='Delete Page' onClick="clickConfirmDeletePage(@Model.PageId)" ></center><BR>
        </div>
    </div>

    <BR>

    <div class="row" id="mainblock">
        <div class="col-lg-12 col-md-12">
            <input class=toolbutton type='submit' value='Add Article'>
        </div>
    </div>

    <BR>

    <div class="row" id="mainblock">

        <div class="col-lg-8 col-md-8">

            <div>
                @foreach (var relPage in Model.mainPageItems)
                {
                    @if ( Model.ShowEditor )
                    {
                        <div class="articleedit" style="width:100%;display:flex">
                            <form class="form-inline" style="margin-left:2px;" action="/api/Edit/MoveDown" method="POST">
                                <input type="hidden" id="pageid" name="pageid" value="@relPage.PageId">
                                <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></button>
                            </form>
                            <form class="form-inline" style="margin-left:2px" action="/api/Edit/MoveUp" method="POST">
                                <input type="hidden" id="pageid" name="pageid" value="@relPage.PageId">
                                <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    }

                    <div class="article" style="width:100%;display:flex">

                    <div style="width:50%;align-items:center">
                        @await Html.PartialAsync("/Pages/Views/Components/ImageComponent.cshtml", relPage)
                    </div>

                    <div class="articletext" style="width:50%;margin-left:10px;margin-right:10px">

                        @relPage.PromoText
                        <br />
                        <br />

                        <a href="/page?id=@relPage.PageId">Read more &gt;&gt;</a><br />
                    </div>
                </div>
                <BR>
                }
            </div>

        </div>
        <div class="col-lg-4 col-md-4">
            @await Html.PartialAsync("/Pages/Views/RightSideElements/ArticleSection.cshtml", Model.relatedPages)
        </div>
    </div>

</div>


<script type="text/javascript">

    function clickConfirmDeletePage(pageId)
    {
        console.log("DELETE " + pageId );
        clickDeleteSection(pageId,sectionId);
    }

    // Delete page
    function clickDeletePage(pageId)
    {
        data = {
            pageId: pageId
        };
        postData("/api/Edit/DeletePage", data);
    }

    //
    // Save the content of the page
    //
    function clickSavePage(pageId)
    {
        var title = getFieldValue("Title");
        var relatedTags = getFieldValue("RelatedTags");
        var acl = getFieldValue("acl");

        data = {
            pageId: pageId,
            contenttitle: title,
            acl: acl,
            relatedTags:relatedTags
        };

        postData("/api/Edit/SaveMainPage", data);
    }

</script>