@page
@using DarkFactorCoreNet.Editor
@model ImageSelectorModel
@{
    ViewData["Title"] = "Image Selector";
}

<div>

    <div class="row">
        <div class="article" style="width:100%">
        <div class="article" style="width:100%;padding:5px">Upload image</div>

        <form  method='POST' action="/api/Edit/UploadImage" enctype="multipart/form-data" style='display: inline;'>
            <input type='hidden' name='pageId' value='@Model.pageId'>
            <input type="file" name="files" text="Upload1" alt="Upload2"/>
            <input type='submit' value='Save'>
        </form>
        </div>
    </div>

    <div class="row">

        @foreach (var image in Model.imageList )
        {
            <div class="col-lg-4 col-md-4">

            <div class="articleedit" style="width:100%;display:flex">
                <form class="form-inline" style="margin-left:2px" action="/api/Image/DeleteImage" method="POST">
                    <input type="hidden" id="pageid" name="pageid" value="@Model.pageId">
                    <input type="hidden" id="pageid" name="imageId" value="@image.Id">
                    <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </form>
                <form class="form-inline" style="margin-left:2px" action="/Editor/EditImage" method="GET">
                    <input type="hidden" id="pageid" name="pageid" value="@Model.pageId">
                    <input type="hidden" id="pageid" name="imageId" value="@image.Id">
                    <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                </form>
            </div>

            <div class="article" style="width:100%;padding:5px">@image.Filename</div>
            <div style="width:100%">
                <center>
                    <form  method='POST' action="/api/Edit/AddImage" style='display: inline;'>
                    <input type='hidden' name='pageId' value="@Model.pageId">
                    <input type='hidden' name='sectionId' value="@Model.sectionId">
                    <input type='hidden' name='imageId' value="@image.Id">
                    <input type="image" width=100% height=100% src="data:image/png;base64,@image.Filedata">
                    </form>
                </center>
            </div>
            </div>
        }
    </div>
</div>

