@using DarkFactorCoreNet.Models
@model PageContentModel

<form action='/api/editor' method='POST' style='display: inline;'>

    <input type='hidden' name='ID' value='@Model.ID'>
    <input type='hidden' name='ParentId' value='@Model.ParentId'>
    <input type='hidden' name='SortId' value='@Model.SortId'>
    <input type='hidden' name='command' value='save'>

    <div class='edit_header'>Access Control</div>
    <select name='acl' class='edit_input'>
        <option value=0> Public </option>
        <option value=1> Member </option>
        <option value=2 selected> Editor </option>
        <option value=3> Admin </option>
    </select>

    <br><br>

    <div class='edit_header'>Promo Title</div>
    <input name='PromoTitle' type='text' class='edit_input' value='@Model.PromoTitle' placeholder='Enter title'><br>
    <div class='edit_header'>Promo Text</div>
    <textarea rows=15 cols=30 name='PromoText' class='edit_input'>@Model.PromoText</textarea><br>
    <br>

    <div class='edit_header'>Title</div>
    <input name='Title' type='text' class='edit_input' value='@Model.Title' placeholder='Enter title'><br>
    <div class='edit_header'>Content</div>
    <textarea rows=30 cols=60 name='Content' class='edit_input'>@Model.Content</textarea><br>

    <input class=toolbutton type='submit' value='Save'>
    <input class=toolbutton type='submit' value='Preview'>

</form>
